/*
table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    vertical-align: top;
}

tbody tr {
    border-bottom: 1px solid var(--steel);
}*/


table {
    font-family: sans-serif;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid lightgrey;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879; /**Same as header */
}

table tbody tr:hover {
    font-weight: bold;
    background-color: lightgreen;
}